
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}
.bg{
  overflow-x: hidden;
}
.slider {
    position: relative;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 175px;
    margin: 0 0 10px 0;
    padding-right: 0;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  a:visited { 
    text-decoration: none; 
    color: white; 
   }
   body{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
   .full-size{
     height:100%;
     width:100%;
     overflow:hidden; /* or overflow:auto; if you want scrollbars */
   }
